@import "blueprint/ie.css";

.png {behavior: url(iepngfix.htc);}

.float { position: absolute;  }

.button, .radius-4, .radius-6, .radius-8 {
	//z-index: expression(insertAdjacentHTML('afterBegin', 'Вопрос: '), runtimeStyle.zIndex);
}

/*, .shadow, .linear {}*/

.lineBlock {
	zoom: 1;
	*display: inline;
}

.gradient1 { -pie-background: linear-gradient(#EEFF99, #66EE33); }

html { font-size: 101%;}

/* delete title, where alt="..."  Если подключена програмика - удалить */
img { behavior: expression( runtimeStyle.scrollbarFaceColor = '#fff', (alt&&!title) ? title = '' : '' ); }

.opacity {
	filter			: expression( runtimeStyle.filter = 'progid:DXImageTransform.Microsoft.Alpha(opacity='+currentStyle.opacity*100+')' );
	zoom			: 1;
}
