{% if $email %}

<p>На почту <b>$email</b> отправлено письмо с подтверждением регистрации</p>
<p id=$+user action="/register" target=$%id>Для завершения регистрации нажмите на ссылку в письме или введите присланный код:
<input id=$-code placeholder="код..." value="$code">
</p>

{% fi %}{% if $code %}

<p>Введите пароль:</p>

<div id=$+user>
	<input id=$-pass placeholder="Введите пароль">
	<input id=$-pass2 placeholder="Введите пароль ещё раз">
	<a id=$-a href="#" ctype=save>Сохранить</a>
</div>

{% fi %}{% if $time %}

<p>Время кода истекло. Зарегистрируйтесь заново</p>

{% fi %}