.Abkhazia { background-position: -0px -0px; width: 24px; height: 24px }
.Afghanistan { background-position: -24px -0px; width: 24px; height: 24px }
.Aland { background-position: -48px -0px; width: 24px; height: 24px }
.Albania { background-position: -72px -0px; width: 24px; height: 24px }
.Algeria { background-position: -96px -0px; width: 24px; height: 24px }
.American-Samoa { background-position: -120px -0px; width: 24px; height: 24px }
.Andorra { background-position: -144px -0px; width: 24px; height: 24px }
.Angola { background-position: -168px -0px; width: 24px; height: 24px }
.Anguilla { background-position: -192px -0px; width: 24px; height: 24px }
.Antarctica { background-position: -216px -0px; width: 24px; height: 24px }
.Antigua-and-Barbuda { background-position: -240px -0px; width: 24px; height: 24px }
.Argentina { background-position: -264px -0px; width: 24px; height: 24px }
.Armenia { background-position: -288px -0px; width: 24px; height: 24px }
.Aruba { background-position: -312px -0px; width: 24px; height: 24px }
.Australia { background-position: -336px -0px; width: 24px; height: 24px }
.Austria { background-position: -360px -0px; width: 24px; height: 24px }
.Azerbaijan { background-position: -0px -24px; width: 24px; height: 24px }
.Bahamas { background-position: -24px -24px; width: 24px; height: 24px }
.Bahrain { background-position: -48px -24px; width: 24px; height: 24px }
.Bangladesh { background-position: -72px -24px; width: 24px; height: 24px }
.Barbados { background-position: -96px -24px; width: 24px; height: 24px }
.Basque-Country { background-position: -120px -24px; width: 24px; height: 24px }
.Belarus { background-position: -144px -24px; width: 24px; height: 24px }
.Belgium { background-position: -168px -24px; width: 24px; height: 24px }
.Belize { background-position: -192px -24px; width: 24px; height: 24px }
.Benin { background-position: -216px -24px; width: 24px; height: 24px }
.Bermuda { background-position: -240px -24px; width: 24px; height: 24px }
.Bhutan { background-position: -264px -24px; width: 24px; height: 24px }
.Bolivia { background-position: -288px -24px; width: 24px; height: 24px }
.Bosnia-and-Herzegovina { background-position: -312px -24px; width: 24px; height: 24px }
.Botswana { background-position: -336px -24px; width: 24px; height: 24px }
.Brazil { background-position: -360px -24px; width: 24px; height: 24px }
.British-Antarctic-Territory { background-position: -0px -48px; width: 24px; height: 24px }
.British-Virgin-Islands { background-position: -24px -48px; width: 24px; height: 24px }
.Brunei { background-position: -48px -48px; width: 24px; height: 24px }
.Bulgaria { background-position: -72px -48px; width: 24px; height: 24px }
.Burkina-Faso { background-position: -96px -48px; width: 24px; height: 24px }
.Burundi { background-position: -120px -48px; width: 24px; height: 24px }
.Cambodia { background-position: -144px -48px; width: 24px; height: 24px }
.Cameroon { background-position: -168px -48px; width: 24px; height: 24px }
.Canada { background-position: -192px -48px; width: 24px; height: 24px }
.Canary-Islands { background-position: -216px -48px; width: 24px; height: 24px }
.Cape-Verde { background-position: -240px -48px; width: 24px; height: 24px }
.Cayman-Islands { background-position: -264px -48px; width: 24px; height: 24px }
.Central-African-Republic { background-position: -288px -48px; width: 24px; height: 24px }
.Chad { background-position: -312px -48px; width: 24px; height: 24px }
.Chile { background-position: -336px -48px; width: 24px; height: 24px }
.China { background-position: -360px -48px; width: 24px; height: 24px }
.Christmas-Island { background-position: -0px -72px; width: 24px; height: 24px }
.Cocos-Keeling-Islands { background-position: -24px -72px; width: 24px; height: 24px }
.Colombia { background-position: -48px -72px; width: 24px; height: 24px }
.Commonwealth { background-position: -72px -72px; width: 24px; height: 24px }
.Comoros { background-position: -96px -72px; width: 24px; height: 24px }
.Cook-Islands { background-position: -120px -72px; width: 24px; height: 24px }
.Costa-Rica { background-position: -144px -72px; width: 24px; height: 24px }
.Cote-dIvoire { background-position: -168px -72px; width: 24px; height: 24px }
.Croatia { background-position: -192px -72px; width: 24px; height: 24px }
.Cuba { background-position: -216px -72px; width: 24px; height: 24px }
.Curacao { background-position: -240px -72px; width: 24px; height: 24px }
.Cyprus { background-position: -264px -72px; width: 24px; height: 24px }
.Czech-Republic { background-position: -288px -72px; width: 24px; height: 24px }
.Democratic-Republic-of-the-Congo { background-position: -312px -72px; width: 24px; height: 24px }
.Denmark { background-position: -336px -72px; width: 24px; height: 24px }
.Djibouti { background-position: -360px -72px; width: 24px; height: 24px }
.Dominica { background-position: -0px -96px; width: 24px; height: 24px }
.Dominican-Republic { background-position: -24px -96px; width: 24px; height: 24px }
.East-Timor { background-position: -48px -96px; width: 24px; height: 24px }
.Ecuador { background-position: -72px -96px; width: 24px; height: 24px }
.Egypt { background-position: -96px -96px; width: 24px; height: 24px }
.El-Salvador { background-position: -120px -96px; width: 24px; height: 24px }
.England { background-position: -144px -96px; width: 24px; height: 24px }
.Equatorial-Guinea { background-position: -168px -96px; width: 24px; height: 24px }
.Eritrea { background-position: -192px -96px; width: 24px; height: 24px }
.Estonia { background-position: -216px -96px; width: 24px; height: 24px }
.Ethiopia { background-position: -240px -96px; width: 24px; height: 24px }
.European-Union { background-position: -264px -96px; width: 24px; height: 24px }
.Falkland-Islands { background-position: -288px -96px; width: 24px; height: 24px }
.Faroes { background-position: -312px -96px; width: 24px; height: 24px }
.Fiji { background-position: -336px -96px; width: 24px; height: 24px }
.Finland { background-position: -360px -96px; width: 24px; height: 24px }
.France { background-position: -0px -120px; width: 24px; height: 24px }
.French-Polynesia { background-position: -24px -120px; width: 24px; height: 24px }
.French-Southern-Territories { background-position: -48px -120px; width: 24px; height: 24px }
.Gabon { background-position: -72px -120px; width: 24px; height: 24px }
.Gambia { background-position: -96px -120px; width: 24px; height: 24px }
.Georgia { background-position: -120px -120px; width: 24px; height: 24px }
.Germany { background-position: -144px -120px; width: 24px; height: 24px }
.Ghana { background-position: -168px -120px; width: 24px; height: 24px }
.Gibraltar { background-position: -192px -120px; width: 24px; height: 24px }
.GoSquared { background-position: -216px -120px; width: 24px; height: 24px }
.Greece { background-position: -240px -120px; width: 24px; height: 24px }
.Greenland { background-position: -264px -120px; width: 24px; height: 24px }
.Grenada { background-position: -288px -120px; width: 24px; height: 24px }
.Guam { background-position: -312px -120px; width: 24px; height: 24px }
.Guatemala { background-position: -336px -120px; width: 24px; height: 24px }
.Guernsey { background-position: -360px -120px; width: 24px; height: 24px }
.Guinea { background-position: -0px -144px; width: 24px; height: 24px }
.Guinea-Bissau { background-position: -24px -144px; width: 24px; height: 24px }
.Guyana { background-position: -48px -144px; width: 24px; height: 24px }
.Haiti { background-position: -72px -144px; width: 24px; height: 24px }
.Honduras { background-position: -96px -144px; width: 24px; height: 24px }
.Hong-Kong { background-position: -120px -144px; width: 24px; height: 24px }
.Hungary { background-position: -144px -144px; width: 24px; height: 24px }
.Iceland { background-position: -168px -144px; width: 24px; height: 24px }
.India { background-position: -192px -144px; width: 24px; height: 24px }
.Indonesia { background-position: -216px -144px; width: 24px; height: 24px }
.Iran { background-position: -240px -144px; width: 24px; height: 24px }
.Iraq { background-position: -264px -144px; width: 24px; height: 24px }
.Ireland { background-position: -288px -144px; width: 24px; height: 24px }
.Isle-of-Man { background-position: -312px -144px; width: 24px; height: 24px }
.Israel { background-position: -336px -144px; width: 24px; height: 24px }
.Italy { background-position: -360px -144px; width: 24px; height: 24px }
.Jamaica { background-position: -0px -168px; width: 24px; height: 24px }
.Japan { background-position: -24px -168px; width: 24px; height: 24px }
.Jersey { background-position: -48px -168px; width: 24px; height: 24px }
.Jordan { background-position: -72px -168px; width: 24px; height: 24px }
.Kazakhstan { background-position: -96px -168px; width: 24px; height: 24px }
.Kenya { background-position: -120px -168px; width: 24px; height: 24px }
.Kiribati { background-position: -144px -168px; width: 24px; height: 24px }
.Kosovo { background-position: -168px -168px; width: 24px; height: 24px }
.Kuwait { background-position: -192px -168px; width: 24px; height: 24px }
.Kyrgyzstan { background-position: -216px -168px; width: 24px; height: 24px }
.Laos { background-position: -240px -168px; width: 24px; height: 24px }
.Latvia { background-position: -264px -168px; width: 24px; height: 24px }
.Lebanon { background-position: -288px -168px; width: 24px; height: 24px }
.Lesotho { background-position: -312px -168px; width: 24px; height: 24px }
.Liberia { background-position: -336px -168px; width: 24px; height: 24px }
.Libya { background-position: -360px -168px; width: 24px; height: 24px }
.Liechtenstein { background-position: -0px -192px; width: 24px; height: 24px }
.Lithuania { background-position: -24px -192px; width: 24px; height: 24px }
.Luxembourg { background-position: -48px -192px; width: 24px; height: 24px }
.Macau { background-position: -72px -192px; width: 24px; height: 24px }
.Macedonia { background-position: -96px -192px; width: 24px; height: 24px }
.Madagascar { background-position: -120px -192px; width: 24px; height: 24px }
.Malawi { background-position: -144px -192px; width: 24px; height: 24px }
.Malaysia { background-position: -168px -192px; width: 24px; height: 24px }
.Maldives { background-position: -192px -192px; width: 24px; height: 24px }
.Mali { background-position: -216px -192px; width: 24px; height: 24px }
.Malta { background-position: -240px -192px; width: 24px; height: 24px }
.Mars { background-position: -264px -192px; width: 24px; height: 24px }
.Marshall-Islands { background-position: -288px -192px; width: 24px; height: 24px }
.Martinique { background-position: -312px -192px; width: 24px; height: 24px }
.Mauritania { background-position: -336px -192px; width: 24px; height: 24px }
.Mauritius { background-position: -360px -192px; width: 24px; height: 24px }
.Mayotte { background-position: -0px -216px; width: 24px; height: 24px }
.Mexico { background-position: -24px -216px; width: 24px; height: 24px }
.Micronesia { background-position: -48px -216px; width: 24px; height: 24px }
.Moldova { background-position: -72px -216px; width: 24px; height: 24px }
.Monaco { background-position: -96px -216px; width: 24px; height: 24px }
.Mongolia { background-position: -120px -216px; width: 24px; height: 24px }
.Montenegro { background-position: -144px -216px; width: 24px; height: 24px }
.Montserrat { background-position: -168px -216px; width: 24px; height: 24px }
.Morocco { background-position: -192px -216px; width: 24px; height: 24px }
.Mozambique { background-position: -216px -216px; width: 24px; height: 24px }
.Myanmar { background-position: -240px -216px; width: 24px; height: 24px }
.Nagorno-Karabakh { background-position: -264px -216px; width: 24px; height: 24px }
.Namibia { background-position: -288px -216px; width: 24px; height: 24px }
.NATO { background-position: -312px -216px; width: 24px; height: 24px }
.Nauru { background-position: -336px -216px; width: 24px; height: 24px }
.Nepal { background-position: -360px -216px; width: 24px; height: 24px }
.Netherlands { background-position: -0px -240px; width: 24px; height: 24px }
.Netherlands-Antilles { background-position: -24px -240px; width: 24px; height: 24px }
.New-Caledonia { background-position: -48px -240px; width: 24px; height: 24px }
.New-Zealand { background-position: -72px -240px; width: 24px; height: 24px }
.Nicaragua { background-position: -96px -240px; width: 24px; height: 24px }
.Niger { background-position: -120px -240px; width: 24px; height: 24px }
.Nigeria { background-position: -144px -240px; width: 24px; height: 24px }
.Niue { background-position: -168px -240px; width: 24px; height: 24px }
.Norfolk-Island { background-position: -192px -240px; width: 24px; height: 24px }
.Northern-Cyprus { background-position: -216px -240px; width: 24px; height: 24px }
.Northern-Mariana-Islands { background-position: -240px -240px; width: 24px; height: 24px }
.North-Korea { background-position: -264px -240px; width: 24px; height: 24px }
.Norway { background-position: -288px -240px; width: 24px; height: 24px }
.Olympics { background-position: -312px -240px; width: 24px; height: 24px }
.Oman { background-position: -336px -240px; width: 24px; height: 24px }
.Pakistan { background-position: -360px -240px; width: 24px; height: 24px }
.Palau { background-position: -0px -264px; width: 24px; height: 24px }
.Palestine { background-position: -24px -264px; width: 24px; height: 24px }
.Panama { background-position: -48px -264px; width: 24px; height: 24px }
.Papua-New-Guinea { background-position: -72px -264px; width: 24px; height: 24px }
.Paraguay { background-position: -96px -264px; width: 24px; height: 24px }
.Peru { background-position: -120px -264px; width: 24px; height: 24px }
.Philippines { background-position: -144px -264px; width: 24px; height: 24px }
.Pitcairn-Islands { background-position: -168px -264px; width: 24px; height: 24px }
.Poland { background-position: -192px -264px; width: 24px; height: 24px }
.Portugal { background-position: -216px -264px; width: 24px; height: 24px }
.Puerto-Rico { background-position: -240px -264px; width: 24px; height: 24px }
.Qatar { background-position: -264px -264px; width: 24px; height: 24px }
.Red-Cross { background-position: -288px -264px; width: 24px; height: 24px }
.Republic-of-the-Congo { background-position: -312px -264px; width: 24px; height: 24px }
.Romania { background-position: -336px -264px; width: 24px; height: 24px }
.Russia { background-position: -360px -264px; width: 24px; height: 24px }
.Rwanda { background-position: -0px -288px; width: 24px; height: 24px }
.Saint-Barthelemy { background-position: -24px -288px; width: 24px; height: 24px }
.Saint-Helena { background-position: -48px -288px; width: 24px; height: 24px }
.Saint-Kitts-and-Nevis { background-position: -72px -288px; width: 24px; height: 24px }
.Saint-Lucia { background-position: -96px -288px; width: 24px; height: 24px }
.Saint-Martin { background-position: -120px -288px; width: 24px; height: 24px }
.Saint-Vincent-and-the-Grenadines { background-position: -144px -288px; width: 24px; height: 24px }
.Samoa { background-position: -168px -288px; width: 24px; height: 24px }
.San-Marino { background-position: -192px -288px; width: 24px; height: 24px }
.Sao-Tome-and-Principe { background-position: -216px -288px; width: 24px; height: 24px }
.Saudi-Arabia { background-position: -240px -288px; width: 24px; height: 24px }
.Scotland { background-position: -264px -288px; width: 24px; height: 24px }
.Senegal { background-position: -288px -288px; width: 24px; height: 24px }
.Serbia { background-position: -312px -288px; width: 24px; height: 24px }
.Seychelles { background-position: -336px -288px; width: 24px; height: 24px }
.Sierra-Leone { background-position: -360px -288px; width: 24px; height: 24px }
.Singapore { background-position: -0px -312px; width: 24px; height: 24px }
.Slovakia { background-position: -24px -312px; width: 24px; height: 24px }
.Slovenia { background-position: -48px -312px; width: 24px; height: 24px }
.Solomon-Islands { background-position: -72px -312px; width: 24px; height: 24px }
.Somalia { background-position: -96px -312px; width: 24px; height: 24px }
.Somaliland { background-position: -120px -312px; width: 24px; height: 24px }
.South-Africa { background-position: -144px -312px; width: 24px; height: 24px }
.South-Georgia-and-the-South-Sandwich-Islands { background-position: -168px -312px; width: 24px; height: 24px }
.South-Korea { background-position: -192px -312px; width: 24px; height: 24px }
.South-Ossetia { background-position: -216px -312px; width: 24px; height: 24px }
.South-Sudan { background-position: -240px -312px; width: 24px; height: 24px }
.Spain { background-position: -264px -312px; width: 24px; height: 24px }
.Sri-Lanka { background-position: -288px -312px; width: 24px; height: 24px }
.Sudan { background-position: -312px -312px; width: 24px; height: 24px }
.Suriname { background-position: -336px -312px; width: 24px; height: 24px }
.Swaziland { background-position: -360px -312px; width: 24px; height: 24px }
.Sweden { background-position: -0px -336px; width: 24px; height: 24px }
.Switzerland { background-position: -24px -336px; width: 24px; height: 24px }
.Syria { background-position: -48px -336px; width: 24px; height: 24px }
.Taiwan { background-position: -72px -336px; width: 24px; height: 24px }
.Tajikistan { background-position: -96px -336px; width: 24px; height: 24px }
.Tanzania { background-position: -120px -336px; width: 24px; height: 24px }
.Thailand { background-position: -144px -336px; width: 24px; height: 24px }
.Togo { background-position: -168px -336px; width: 24px; height: 24px }
.Tokelau { background-position: -192px -336px; width: 24px; height: 24px }
.Tonga { background-position: -216px -336px; width: 24px; height: 24px }
.Trinidad-and-Tobago { background-position: -240px -336px; width: 24px; height: 24px }
.Tunisia { background-position: -264px -336px; width: 24px; height: 24px }
.Turkey { background-position: -288px -336px; width: 24px; height: 24px }
.Turkmenistan { background-position: -312px -336px; width: 24px; height: 24px }
.Turks-and-Caicos-Islands { background-position: -336px -336px; width: 24px; height: 24px }
.Tuvalu { background-position: -360px -336px; width: 24px; height: 24px }
.Uganda { background-position: -0px -360px; width: 24px; height: 24px }
.Ukraine { background-position: -24px -360px; width: 24px; height: 24px }
.United-Arab-Emirates { background-position: -48px -360px; width: 24px; height: 24px }
.United-Kingdom { background-position: -72px -360px; width: 24px; height: 24px }
.United-Nations { background-position: -96px -360px; width: 24px; height: 24px }
.United-States { background-position: -120px -360px; width: 24px; height: 24px }
.Unknown { background-position: -144px -360px; width: 24px; height: 24px }
.Uruguay { background-position: -168px -360px; width: 24px; height: 24px }
.US-Virgin-Islands { background-position: -192px -360px; width: 24px; height: 24px }
.Uzbekistan { background-position: -216px -360px; width: 24px; height: 24px }
.Vanuatu { background-position: -240px -360px; width: 24px; height: 24px }
.Vatican-City { background-position: -264px -360px; width: 24px; height: 24px }
.Venezuela { background-position: -288px -360px; width: 24px; height: 24px }
.Vietnam { background-position: -312px -360px; width: 24px; height: 24px }
.Wales { background-position: -336px -360px; width: 24px; height: 24px }
.Wallis-And-Futuna { background-position: -360px -360px; width: 24px; height: 24px }
.Western-Sahara { background-position: -0px -384px; width: 24px; height: 24px }
.Yemen { background-position: -24px -384px; width: 24px; height: 24px }
.Zambia { background-position: -48px -384px; width: 24px; height: 24px }
.Zimbabwe { background-position: -72px -384px; width: 24px; height: 24px }

.Abkhazia, .Afghanistan, .Aland, .Albania, .Algeria, .American-Samoa, .Andorra, .Angola, .Anguilla, .Antarctica, .Antigua-and-Barbuda, .Argentina, .Armenia, .Aruba, .Australia, .Austria, .Azerbaijan, .Bahamas, .Bahrain, .Bangladesh, .Barbados, .Basque-Country, .Belarus, .Belgium, .Belize, .Benin, .Bermuda, .Bhutan, .Bolivia, .Bosnia-and-Herzegovina, .Botswana, .Brazil, .British-Antarctic-Territory, .British-Virgin-Islands, .Brunei, .Bulgaria, .Burkina-Faso, .Burundi, .Cambodia, .Cameroon, .Canada, .Canary-Islands, .Cape-Verde, .Cayman-Islands, .Central-African-Republic, .Chad, .Chile, .China, .Christmas-Island, .Cocos-Keeling-Islands, .Colombia, .Commonwealth, .Comoros, .Cook-Islands, .Costa-Rica, .Cote-dIvoire, .Croatia, .Cuba, .Curacao, .Cyprus, .Czech-Republic, .Democratic-Republic-of-the-Congo, .Denmark, .Djibouti, .Dominica, .Dominican-Republic, .East-Timor, .Ecuador, .Egypt, .El-Salvador, .England, .Equatorial-Guinea, .Eritrea, .Estonia, .Ethiopia, .European-Union, .Falkland-Islands, .Faroes, .Fiji, .Finland, .France, .French-Polynesia, .French-Southern-Territories, .Gabon, .Gambia, .Georgia, .Germany, .Ghana, .Gibraltar, .GoSquared, .Greece, .Greenland, .Grenada, .Guam, .Guatemala, .Guernsey, .Guinea, .Guinea-Bissau, .Guyana, .Haiti, .Honduras, .Hong-Kong, .Hungary, .Iceland, .India, .Indonesia, .Iran, .Iraq, .Ireland, .Isle-of-Man, .Israel, .Italy, .Jamaica, .Japan, .Jersey, .Jordan, .Kazakhstan, .Kenya, .Kiribati, .Kosovo, .Kuwait, .Kyrgyzstan, .Laos, .Latvia, .Lebanon, .Lesotho, .Liberia, .Libya, .Liechtenstein, .Lithuania, .Luxembourg, .Macau, .Macedonia, .Madagascar, .Malawi, .Malaysia, .Maldives, .Mali, .Malta, .Mars, .Marshall-Islands, .Martinique, .Mauritania, .Mauritius, .Mayotte, .Mexico, .Micronesia, .Moldova, .Monaco, .Mongolia, .Montenegro, .Montserrat, .Morocco, .Mozambique, .Myanmar, .Nagorno-Karabakh, .Namibia, .NATO, .Nauru, .Nepal, .Netherlands, .Netherlands-Antilles, .New-Caledonia, .New-Zealand, .Nicaragua, .Niger, .Nigeria, .Niue, .Norfolk-Island, .Northern-Cyprus, .Northern-Mariana-Islands, .North-Korea, .Norway, .Olympics, .Oman, .Pakistan, .Palau, .Palestine, .Panama, .Papua-New-Guinea, .Paraguay, .Peru, .Philippines, .Pitcairn-Islands, .Poland, .Portugal, .Puerto-Rico, .Qatar, .Red-Cross, .Republic-of-the-Congo, .Romania, .Russia, .Rwanda, .Saint-Barthelemy, .Saint-Helena, .Saint-Kitts-and-Nevis, .Saint-Lucia, .Saint-Martin, .Saint-Vincent-and-the-Grenadines, .Samoa, .San-Marino, .Sao-Tome-and-Principe, .Saudi-Arabia, .Scotland, .Senegal, .Serbia, .Seychelles, .Sierra-Leone, .Singapore, .Slovakia, .Slovenia, .Solomon-Islands, .Somalia, .Somaliland, .South-Africa, .South-Georgia-and-the-South-Sandwich-Islands, .South-Korea, .South-Ossetia, .South-Sudan, .Spain, .Sri-Lanka, .Sudan, .Suriname, .Swaziland, .Sweden, .Switzerland, .Syria, .Taiwan, .Tajikistan, .Tanzania, .Thailand, .Togo, .Tokelau, .Tonga, .Trinidad-and-Tobago, .Tunisia, .Turkey, .Turkmenistan, .Turks-and-Caicos-Islands, .Tuvalu, .Uganda, .Ukraine, .United-Arab-Emirates, .United-Kingdom, .United-Nations, .United-States, .Unknown, .Uruguay, .US-Virgin-Islands, .Uzbekistan, .Vanuatu, .Vatican-City, .Venezuela, .Vietnam, .Wales, .Wallis-And-Futuna, .Western-Sahara, .Yemen, .Zambia, .Zimbabwe { background: url("/img/sprite/flags.png") no-repeat; display: -moz-inline-stack; display: inline-block; *zoom: 1; *display: inline; }

