/* функции для параметров */
%exists = CCssCode.exists
%get = CCssCode.get

/* параметры */
%br = get("b", 1)
%pa = get("p", 4)
%ma = get("m", 5)
%inx = get('in', 1)



/* инициализация */


html {margin:0;padding:0;border:0}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;vertical-align:middle;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, dialog, main {display:block;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:center;font-weight:normal;float:none !important;padding: %{pa}px}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:''}
blockquote, q {quotes:"" "";}
img {border:none;}
:focus {outline:0;}

body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #fff;
overflow: auto;
}

input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; overflow: hidden; border:solid 1px #E7E7E7 }
input, button, textarea { padding: %{pa}px }
select {height: %{20+2*pa+2*br}px}
input:hover, button:hover, select:hover, textarea:hover { border-color: orange }
a { color: #428bca; text-decoration: none; }
a:hover, a:focus { color: #2a6496; text-decoration: underline; }
a:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

h1, h2, h3, h4, h5, h6 { border-width: 10pt 0 5pt 0; border-color: transparent; border-style: solid; }

html,body{ width:100%; height:100% }
* { padding: 0; margin: 0; overflow: hidden; clear: both; vertical-align:middle }


%inline_block {display: -moz-inline-stack; display: inline-block; *display: inline; *zoom: 1}


/* константы цвета */

%dim = "#778899"
%ldim = "#E7E7E7"
%green = "#3CB371"
%lgreen = "#F0FFF0"
%orange = "#FFA500"
%lorange = "#FFF8DC"
%violet = "#9370DB"
%lviolet = "lavender"
%blue = "#4169E1"
%lblue = "AliceBlue"
%red = "#CD5C5C"
%lred = "#FFE4E1"

%dark = {dim:dim, green:green, orange:orange, violet:violet, blue:blue, red:red}
%light = {dim:ldim, green:lgreen, orange:lorange, violet:lviolet, blue:lblue, red:lred}
%colors = {}
%for name, color of dark {
	%colors[name] = color; colors[name+'-light'] = light[name]
}


/* сеть */
.in%{inx}{ margin: 0 auto !important; min-height: 100% }

%float { float:left; display:block; clear:none; padding: %{pa+ma+br}px }

/*568 [550, 500, 450] */
%widths = [[750, 650, 550], [970, 770, 570], [1170, 970, 770]]
%display = [768, 992, 1200]
%sizes = ["s", "m", "l"]
%sizesx = ["x"].concat(sizes)


%grid(rem, width, sizes, unit) {
	%join(p) {%if i===1{.%{p+suffix+j}, }.%{p+suffix+t}}
	%for suffix in sizes {
		%for j in 1..rem {
			%for i in 1..j {
				%col = i * width / j
				%k = col - 2*(pa + ma + br)
				%t = i+"_"+j
				
				%{join("w")} { width: %{k}px }
				%{join("col.w")} { width: %{col}px }
				%{join("h")} { height: %{k}px }
				%{join("push")} { left: -%{col}px }
				%{join("pull")} { left: %{col}px }
				%{join("up")} { top: -%{col}px }
				%{join("down")} { top: %{col}px }
			}
		}
	}
}

%addtogrid(rem, classes, styles) {
	%names = []
	%for suffix in ["", "x", "s", "m", "l"] {
		%for j in 1..rem {
			%for i in 1..j {
				%t = i+"_"+j
				%for cls in classes {
					%names.push([".", cls, suffix, t].join("")); if(i===1) names.push([".", cls, suffix, j].join(""))
				}
			}
		}
	}
	%{names.join(", ")} {%{styles}}
}

%if rem = exists('w') {
	%{addtogrid(rem, ["w"], float)}
	%{addtogrid(rem, ["pull", "push", "up", "down"], "position:relative")}
}

%showgrid(rem, width) {
	%col = width / rem
	.showgrid%{rem} {
		background-image: linear-gradient(transparent 1.4em, %{dim} 1.4em),
		linear-gradient(90deg,
			%{lblue} 0px,
			%{lblue} %{ma}px,
			%{dim} %{ma}px,
			%{dim} %{ma+br}px,
			%{lred} %{ma+br}px,
			%{lred} %{ma+br+pa}px,
			transparent %{ma+br+pa}px,
			transparent %{col-(ma+br+pa)}px,
			%{lblue} %{col-(ma+br+pa)}px,
			%{lblue} %{col-(ma+br)}px,
			%{dim} %{col-(ma+br)}px,
			%{dim} %{col-ma}px,
			%{lred} %{col-ma}px
			);
		background-size: %{col}px 1.42857143em;
		background-repeat: repeat;
	}
}


@media (max-width: %{display[0]}px) {
	%for sn in sizes {.only-%{sn}, }
	.no-x {display:none}
}

%if rem = exists('w') {
	%{grid(rem, CRoot.viewWidth(), ["x"])}
}

%for u, n in display {
	%width = widths[n][inx-1]
	%sizeName = sizes[n]
	@media (min-width: %{u}px) %if n<display.length-1 { and (max-width: %{ display[n+1]-1 }px) } {
	
		.in%{inx} {width: %{width}px}
		
		%for sn in sizesx {%if sn !== sizeName {.only-%{sn}, }}
		.no-%{sizeName} {display:none}

		%if rem = exists('w') {
			%{grid(rem, width, [""].concat(sizes.slice(n)))}
		}
		
		/* проверочная сетка */
		%if exists('showgrid') {
			%for i in 1..rem {
				%{showgrid(i, width, dark.red, dark.blue, dark.dim)}
			}
		}
	}

	%if rem = exists('x') {
		@media (min-width: %{u}px) {
			%for j in 1..rem {
				%for i in 1..j {
					%col = i * 100 / j
					%t = i+"_"+j
					%if i===1 { .x%{j}, .x%{sizeName+j}, } .x%{t}, .x%{sizeName+t} { width: %{k}%; %{float} }
					%if i===1 { .s%{j}, .s%{sizeName+j}, } .s%{sizeName+t}, .s%{t} { margin-left: %{col}% }
				}
			}
		}
	}
}

%blocks = ["h1", "h2", "h3", "h4", "h5", "h6", "p"]

%for row in ["in1", "in2", "in3", "col", "row"] {%for p in blocks {.%{row} > %{p}, }}
.par { padding-left: %{pa}px; padding-right: %{pa}px }


.col { margin:0; padding:0; border-width:0 !important }
.first { margin-left: %{-pa-br}px }
.last { margin-right: %{-pa}px; border-right-width: 0 !important}
.row { margin: -%{ma+pa+br}px !important; border-width: 0 !important; padding: 0 !important }
.row-inline { margin: 0 -%{ma+pa+br}px !important; border-width: 0 !important; padding: 0 !important }


/* цвета */
%for name, color of dark {
	.%{name}s div { background-color: %{color}; color: %{light[name]} }
	.%{name}s-light div { background-color: %{light[name]}; color: #555; }
}


%for name, color of dark {
	.%{name}, div.%{name} { background-color: %{color}; color: %{light[name]} }
	.%{name}-light, div.%{name}-light { background-color: %{light[name]}; color: #555}
	.%{name}-header, div.%{name}-header { color: %{color}; font-weight: 700; background-color: %{light[name]} }
	.%{name}-text, div.%{name}-text { background-color: %{light[name]}; color: %{color}; }
}

/* границы */
%border {border-style: solid; border-width: %{br}px }
%pos2 { margin: %{ma}px; padding: %{pa}px; %{border} }


%for name, color of colors {
	.%{name}s-line div { %{pos2}; border-color: %{color} }
	.%{name}s-line-h div { %{pos2}; border-left-color: %{color}; border-right-color: %{color} }
	.%{name}s-line-v div { %{pos2}; border-top-color: %{color}; border-bottom-color: %{color} }
	.%{name}s-line-l div { %{pos2}; border-left-color: %{color} }
	.%{name}s-line-r div { %{pos2}; border-right-color: %{color} }
	.%{name}s-line-b div { %{pos2}; border-bottom-color: %{color} }
	.%{name}s-line-t div { %{pos2}; border-top-color: %{color} }
}


.pos-2 div { margin: %{ma}px; padding: %{pa}px; %{border} }
.pos-0 div { margin: %{pa+ma}px; padding:0; %{border} }
.pos-1 div { margin: %{pa/2+ma}px; padding: %{pa/2}px; %{border} }
.pos-3 div { margin: %{ma/2}px; padding: %{pa/2+ma/2}px; %{border} }
.pos-4 div { margin: 0; padding: %{pa+ma}px; %{border} }


%for name, color of colors {
	.%{name}-line, div.%{name}-line { %{pos2}; border-color: %{color} }
	.%{name}-line-h, div.%{name}-line-h { %{pos2}; border-left-color: %{color}; border-right-color: %{color} }
	.%{name}-line-v, div.%{name}-line-v { %{pos2}; border-top-color: %{color}; border-bottom-color: %{color} }
	.%{name}-line-l, div.%{name}-line-l { %{pos2}; border-left-color: %{color} }
	.%{name}-line-r, div.%{name}-line-r { %{pos2}; border-right-color: %{color} }
	.%{name}-line-b, div.%{name}-line-b { %{pos2}; border-bottom-color: %{color} }
	.%{name}-line-t, div.%{name}-line-t { %{pos2}; border-top-color: %{color} }
}

.pos2, div.pos2 { margin: %{ma}px; padding: %{pa}px; %{border} }
.pos0, div.pos0 { margin: %{pa+ma}px; padding:0; %{border} }
.pos1, div.pos1 { margin: %{pa/2+ma}px; padding: %{pa/2}px; %{border} }
.pos3, div.pos3 { margin: %{ma/2}px; padding: %{pa+ma/2}px; %{border} }
.pos4, div.pos4 { margin: 0; padding: %{pa+ma}px; %{border} }

input, select, textarea, button { margin: %{ma}px !important; padding: %{pa}px !important; border: solid %{br}px %{ldim} }


/* центрирование */
.l { text-align: left }
.r { text-align: right }
.j { text-align: justify }
.c { text-align: center; *zoom: 1; text-align: -o-center; text-align: -moz-center; text-align: -webkit-center; text-align: -khtml-center }


/* округление наполовину */
.rnd { %border-radius: 50% }

/* скругление */
%for i in 1...5 {
	%if i === 1 { .ra, } .ra%{i} { %border-radius: %{(ma+pa)/i}px }
}

/* тултип */
.c-tip { background-color: #2a2a2a; background-color: rgba(0, 0, 0, 0.7); color: WhiteSmoke; /*border: solid 1px gray;*/ padding: 5px; %border-radius: 3px; font-size: 12px; width: 200px; max-height: 200px; }
.c-tip h1, .c-tip h2, .c-tip h3, .c-tip h4 { color: LightSkyBlue; }


/* типография */

code {
padding: 2px 4px;
font-size: 90%;
color: #c7254e;
background-color: #f9f2f4;
white-space: nowrap;
border-radius: 4px;
}


/* таблицы */
th {font-weight: 700}
.table-fill {width:100%}
.table-l th, .table-l td { text-align: left }
.table-j th, .table-j td { text-align: justify }
.table-r th, .table-r td { text-align: right }
.table-t th, .table-t td { vertical-align: top }
.table-b th, .table-b td { text-align: bottom }

.table, .table-border {border-collapse:collapse}
.table > tr, .table > * > tr { border-bottom: solid %{br}px %{ldim} }
.table tr:last-child { border-bottom: 0 }
.table-border, .table-border td, .table-border th { border: solid %{br}px %{dim} }
.table-zebra > tr:nth-of-type(odd), .table-zebra > * > tr:nth-of-type(odd) { background-color: white }

%for name, color of colors {
	%if name === 'dim-light' {.table-cursor > tr:hover, .table-cursor > * > tr:hover, }
	.table-cursor-%{name} > tr:hover, .table-cursor-%{name} > * > tr:hover { background-color: %{color} }
	
	.%{name}-line > tr > td, .%{name}-line > tr > th, %{name}-line > * > tr > td, .%{name}-line > * > tr > th { border: solid %{br}px %{color} }
}


/* кнопки */
.btn {
%{inline_block};
background-repeat: repeat-x;
padding: %{pa}px;
text-align: center;
margin: %{ma}px;
%border-radius: %{ma*2}px;
%box-shadow: 1px 1px 1px #778899;
}
.btn:hover { background-image:none !important }
.btn:link { text-decoration:none; color: white !important; }
.btn:active { margin: %{ma+1}px %{ma-1}px %{ma-1}px %{ma+1}px !important; %box-shadow: none; }
.btn:visited { }

%for name, color of dark {
	%r1 = CRoot.rgba(color)
	%l1 = r1.lightness() + 0.15; r1.lightness(l1 > 1? 1: l1)
	%if name === 'blue' { .btn, }.%{name}.btn {
		background-color: %{color};
		background-image: -%-linear-gradient(to bottom, %{r1}, %{color});
		border: solid 1px %{color}
	}
}




/* вкладки */

%color = ldim
.tabs {  }
.tabs a { border-style: solid; border-color: %{color}; border-width: 0 0 %{br}px 0; margin: 0; padding: %{ma+br+pa}px %{ma+br+pa}px %{ma+pa}px %{ma+br+pa}px; display: block; float:left; clear:none; text-decoration:none; %border-radius: %{pa}px %{pa}px 0px 0px }
.tabs a:hover { background-color: %{color} }
.tabs .active:hover { background-color: transparent }
.tabs .active { border-width: %{br}px %{br}px 0 %{br}px; padding: %{ma+pa}px %{ma+pa}px %{ma+br+pa}px %{ma+pa}px; cursor:default; color: #555 }


/* меню */
