%get = CCssCode.get
%pa = get("p", 10)
%ma = get("m", 10)
%inx = get('in', 1)

*{ margin:0; padding:0; overflow:auto; clear:both }
html,body{ width:100%; height:100% }
.in1,.in2,.in3{ margin: 0 auto; min-height: 100%; padding-left: %%ma%%px }
.rest{ padding: %%pa/2%%px; margin: 0 %%ma%%px %%ma%%px 0; clear:none }
.col { padding: 0 !important; margin: 0 !important }
%float { float:left; clear:none; padding: %%pa/2%%px; margin: 0 %%ma%%px %%ma%%px 0 }

%add(i, j) {
	%col = i * width / j
	%k = col - pa - ma
	%t = i+"_"+j
	%if i===j { .w%%j%%, } .w%%t%% { width: %%k%%px; %%float%% }
	%if i===j { .w%%j%%.col, } .w%%t%%.col { width: %%col%%px}
	%if i===j { .offset%%j%%, } .offset%%t%% { margin-left: %%col%%px }
}

%widths = [[550, 500, 450], [750, 650, 550], [970, 770, 570], [1170, 970, 770]]
%display = [568, 768, 992, 1200]

%for u, n in display {
	%width = widths[n][inx-1]
	@media (min-width: %%u%%px) %if n<display.length-1 { and (max-width: %% display[n+1]-1 %%px) } {
		.in%%inx%% {width: %%width%%px}

		%if rem = CCssCode.exists('w') {
			%for j in 1..rem {
				%for i in 1..j {
					%col = i * width / j
					%k = col - pa - ma
					%t = i+"_"+j
					%if i===1 { .w%%j%%, } .w%%t%% { width: %%k%%px; %%float%% }
					%if i===1 { .w%%j%%.col, } .w%%t%%.col { width: %%col%%px}
					%if i===1 { .offset%%j%%, } .offset%%t%% { margin-left: %%col%%px }
				}
			}
		}
	}
}


