/* функции для параметров */
%exists = CCssCode.exists
%get = CCssCode.get

/* параметры */
%br = get("b", 1)
%pa = get("p", 6)
%ma = get("m", 6)
%inx = get('in', 1)



/* инициализация */


html {margin:0;padding:0;border:0}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;vertical-align:middle;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, dialog, main {display:block;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:center;font-weight:normal;float:none !important;padding: %{pa}px}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:''}
blockquote, q {quotes:"" "";}
img {border:none;}
:focus {outline:0;}

body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #fff;
overflow: auto;
}

input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; overflow: hidden; border:solid 1px #E7E7E7; padding: %{pa}px; }
input:hover, button:hover, select:hover, textarea:hover { border-color: orange }
a { color: #428bca; text-decoration: none; }
a:hover, a:focus { color: #2a6496; text-decoration: underline; }
a:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

h1, h2, h3, h4, h5, h6 { border-width: 10pt 0 5pt 0; border-color: transparent; border-style: solid; }

html,body{ width:100%; height:100% }
* { padding: 0; margin: 0; overflow: hidden; clear: both; vertical-align:middle }


%inline_block {display: -moz-inline-stack; display: inline-block; *display: inline; *zoom: 1}


/* константы цвета */

%dim = "#778899"
%ldim = "#E7E7E7"
%green = "#3CB371"
%lgreen = "#F0FFF0"
%orange = "#FFA500"
%lorange = "#FFF8DC"
%violet = "#9370DB"
%lviolet = "lavender"
%blue = "#4169E1"
%lblue = "AliceBlue"
%red = "#CD5C5C"
%lred = "#FFE4E1"

%dark = {dim:dim, green:green, orange:orange, violet:violet, blue:blue, red:red}
%light = {dim:ldim, green:lgreen, orange:lorange, violet:lviolet, blue:lblue, red:lred}
%colors = {}
%for name, color of dark {
	%colors[name] = color
	%colors[name+'-light'] = light[name]
}



/* кнопки */
.btn {
%{inline_block};
background: %{blue}; background-repeat: repeat-x;
padding: %{pa}px %{2*pa}px;
text-align: center;
margin: 5px 0;
%border-radius: %{ma*2}px;
%box-shadow: 1px 1px 1px #778899;
}
.btn:hover { background-image:none !important }
.btn:link { text-decoration:none; color: white !important; }
.btn:active { position:relative; left:1px; margin: 6px 0 4px 0; %box-shadow: none; }
.btn:visited { }


/* сеть */
.in%{inx}{ margin: 0 auto; min-height: 100% }

%float { float:left; display:block; clear:none; padding: %{pa+ma+br}px }

%widths = [[550, 500, 450], [750, 650, 550], [970, 770, 570], [1170, 970, 770]]
%display = [568, 768, 992, 1200]
%sizes = ["x", "s", "m", "l"]
/*cells = []*/

%grid(rem, width, sizeName) {
	%for j in 1..rem {
		/*cells.push('.w'+sizeName+j); if(n==0) cells.push('.w'+j)*/
		%for i in 1..j {
			%col = i * width / j
			%k = col - 2*(pa + ma + br)
			%t = i+"_"+j
			/*cells.push('.w'+sizeName+t); if(n==0) cells.push('.w'+t)*/
			%if i===1 { .w%{j}, .w%{sizeName+j}, } .w%{t}, .w%{sizeName+t} { width: %{k}px; %{float} }
			%if i===1 { .col.w%{j}, .col.w%{sizeName+j}, } .col.w%{t}, .col.w%{sizeName+t} { width: %{col}px }
			%if i===1 { .offset%{j}, .offset%{sizeName+j}, } .offset%{sizeName+t}, .offset%{t} { margin-left: %{col}px }
			%if i===1 { .h%{sizeName+j}, .h%{j}, } .h%{sizeName+t}, .h%{t} { height: %{k}px }
			%if i===1 { .push%{sizeName+j}, .push%{j}, } .push%{sizeName+t}, .push%{t} { left: %{col}px }
			%if i===1 { .pull%{sizeName+j}, .pull%{j}, } .pull%{sizeName+t}, .pull%{t} { right: %{col}px }
		}
	}
}

%showgrid(rem, width) {
	%col = width / rem
	.showgrid%{rem} {
		background-image: linear-gradient(transparent 1.4em, %{dim} 1.4em),
		linear-gradient(90deg,
			%{lblue} 0px,
			%{lblue} %{ma}px,
			%{dim} %{ma}px,
			%{dim} %{ma+br}px,
			%{lred} %{ma+br}px,
			%{lred} %{ma+br+pa}px,
			transparent %{ma+br+pa}px,
			transparent %{col-(ma+br+pa)}px,
			%{lblue} %{col-(ma+br+pa)}px,
			%{lblue} %{col-(ma+br)}px,
			%{dim} %{col-(ma+br)}px,
			%{dim} %{col-ma}px,
			%{lred} %{col-ma}px
			);
		background-size: %{col}px 1.42857143em;
		background-repeat: repeat;
	}
}

%for u, n in display {
	%width = widths[n][inx-1]
	%sizeName = sizes[n]
	@media (min-width: %{u}px) %if n<display.length-1 { and (max-width: %{ display[n+1]-1 }px) } {
	
		.in%{inx} {width: %{width}px}
		
		.no-%{sizeName} {display:none}
		%for sn in sizes { %if sn !== sizeName { .only-%{sn} {display:none} } }

		%if rem = exists('w') {
			%{grid(rem, width, sizeName)}
		}
		
		/* проверочная сетка */
		%if exists('showgrid') {
			%for i in 1..rem {
				%{showgrid(i, width, dark.red, dark.blue, dark.dim)}
			}
		}
		
		%if rem = exists('x') {
			%for j in 1..rem {
				%for i in 1..j {
					%col = i * 100 / j
					%t = i+"_"+j
					%if i===1 { .x%{j}, .x%{sizeName+j}, } .x%{t}, .x%{sizeName+t} { width: %{k}px; %{float} }
					%if i===1 { .s%{j}, .s%{sizeName+j}, } .s%{sizeName+t}, .s%{t} { margin-left: %{col}px }
				}
			}
		}
		
	}
}

%blocks = ["h1", "h2", "h3", "h4", "h5", "h6", "p"]

%for row in ["in1", "in2", "in3", "col", "row"] {%for p in blocks {.%{row} > %{p}, }}
.par { padding-left: %{pa}px; padding-right: %{pa}px }


.col { margin:0; padding:0; border-width:0 !important }
.first { margin-left: %{-pa-br}px }
.last { margin-right: %{-pa}px; border-right-width: 0 !important}
.row { margin: 0 -%{ma+pa+br}px !important; border-width: 0 !important; padding: 0 !important }

%border {border: solid %{br}px transparent}


%for name of colors {%for a in ["", "-h", "-v", "-l", "-r", "-t", "-b"] {.%{name}-lines%{a} > div, }}
.pos-2 > div { margin: %{ma}px; padding: %{pa}px; %{border} }
.pos-0 > div { margin: %{pa+ma}px; padding:0; %{border} }
.pos-1 > div { margin: %{pa/2+ma}px; padding: %{pa/2}px; %{border} }
.pos-3 > div { margin: %{ma/2}px; padding: %{pa/2+ma/2}px; %{border} }
.pos-4 > div { margin: 0; padding: %{pa+ma}px; %{border} }


%for name of colors {%for a in ["", "-h", "-v", "-l", "-r", "-t", "-b"] {.%{name}-line%{a}, }}
.pos2 { margin: %{ma}px !important; padding: %{pa}px !important; %{border} }
.pos0 { margin: %{pa+ma}px !important; padding:0 !important; %{border} }
.pos1 { margin: %{pa/2+ma}px !important; padding: %{pa/2}px !important; %{border} }
.pos3 { margin: %{ma/2}px !important; padding: %{pa+ma/2}px !important; %{border} }
.pos4 { margin: 0 !important; padding: %{pa+ma}px !important; %{border} }





/* цвета */
%for name, color of dark {
	.%{name}s div { background-color: %{color}; color: %{light[name]} }
	.%{name} { background-color: %{color} !important; color: %{light[name]} !important }
	.%{name}s-light div { background-color: %{light[name]}; color: black; }
	.%{name}-light { background-color: %{light[name]} !important; color: black !important; }
	.%{name}-header { color: %{color}; font-weight: 700; background-color: %{light[name]} }
	.%{name}-text { background-color: %{light[name]}; color: %{color}; }
	
	/* кнопки */
	%r1 = CRoot.rgba(color)
	%l1 = r1.lightness() + 0.15; r1.lightness(l1 > 1? 1: l1)
	%if name === 'blue' { .btn, }
	.%{name}.btn {
		background-image: -%-linear-gradient(to bottom, %{r1}, %{color});
		border: solid 1px %{color}
	}
}


/* границы */
%for name, color of colors {
	.%{name}-lines div, .%{name}-line { border-color: %{color} }
	.%{name}-lines-h div, .%{name}-line-h { border-left-color: %{color}; border-right-color: %{color} }
	.%{name}-lines-v div, .%{name}-line-v { border-top-color: %{color}; border-bottom-color: %{color} }
	.%{name}-lines-l div, .%{name}-line-l { border-left-color: %{color} }
	.%{name}-lines-r div, .%{name}-line-r { border-right-color: %{color} }
	.%{name}-lines-b div, .%{name}-line-b { border-bottom-color: %{color} }
	.%{name}-lines-t div, .%{name}-line-t { border-top-color: %{color} }
}



/* центрирование */
.l { text-align: left }
.r { text-align: right }
.j { text-align: justify }
.c { text-align: center; *zoom: 1; text-align: -o-center; text-align: -moz-center; text-align: -webkit-center; text-align: -khtml-center }


/* округление наполовину */
.rnd { %border-radius: 50% }

/* скругление */
%for i in 1...5 {
	%if i === 1 { .ra, } .ra%{i} { %border-radius: %{2*pa/i}px }
}

/* тултип */
.c-tip { background-color: #2a2a2a; background-color: rgba(0, 0, 0, 0.7); color: WhiteSmoke; /*border: solid 1px gray;*/ padding: 5px; %border-radius: 3px; font-size: 12px; width: 200px; max-height: 200px; }
.c-tip h1, .c-tip h2, .c-tip h3, .c-tip h4 { color: LightSkyBlue; }


/* типография */

code {
padding: 2px 4px;
font-size: 90%;
color: #c7254e;
background-color: #f9f2f4;
white-space: nowrap;
border-radius: 4px;
}


/* таблицы */
th {font-weight: 700}
.table-fill {width:100%}
.table-l th, .table-l td { text-align: left }
.table-j th, .table-j td { text-align: justify }
.table-r th, .table-r td { text-align: right }
.table-t th, .table-t td { vertical-align: top }
.table-b th, .table-b td { text-align: bottom }

.table, .table-border {border-collapse:collapse}
.table > tr, .table > * > tr { border-bottom: solid %{br}px %{ldim} }
.table tr:last-child { border-bottom: 0 }
.table-border, .table-border td, .table-border th { border: solid %{br}px %{dim} }
.table-zebra > tr:nth-of-type(odd), .table-zebra > * > tr:nth-of-type(odd) { background-color: white }

%for name, color of colors {
	%if name === 'dim-light' {.table-cursor > tr:hover, .table-cursor > * > tr:hover, }
	.table-cursor-%{name} > tr:hover, .table-cursor-%{name} > * > tr:hover { background-color: %{color} }
	
	.%{name}-line > tr > td, .%{name}-line > tr > th, %{name}-line > * > tr > td, .%{name}-line > * > tr > th { border: solid %{br}px %{color} }
}
