/* инициализация */

html {margin:0;padding:0;border:0}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
img {border:none;}
:focus {outline:0;}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  overflow: auto;
}

input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
input:hover, button:hover, select:hover, textarea:hover { border-color: orange }
a { color: #428bca; text-decoration: none; }
a:hover, a:focus { color: #2a6496; text-decoration: underline; }
a:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

/* главные */

@media (min-width: 568px) {
	.in1 {width: 550px;}
	.in2 {width: 500px;}
	.in3 {width: 450px;}

	.h1 {height: 100px}
}

@media (min-width: 768px) {
	.in1 {width: 750px;}
	.in2 {width: 650px;}
	.in3 {width: 550px;}

	.h1 {height: 100px}
}
@media (min-width: 992px) {
	.in1 { width: 970px; }
	.in2 { width: 770px; }
	.in3 { width: 570px; }
	
	.h1 {height: 70px}
}
@media (min-width: 1200px) {
	.in1 { width: 1170px; }
	.in2 { width: 970px; }
	.in3 { width: 770px; }
	
	.h1 {height: 50px}
}

body * { overflow: hidden; padding: 0; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* 100% */

html, body, .all { width: 100%; height: 100% }
.all-h { height: 100% }
.all-v { width: 100% }

/* inline-block */
.ib { display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; }

/* сброс */
.w0 {width: auto}
.push0 { left: auto }
.pull0 { right: auto }
.offset0 { margin-left: auto }
.top0 { margin-top: auto }

/* бокс */
.box { padding: 4pt; margin: 4pt; background: PapayaWhip; border-radius: 5pt; }

/* padding-и и маргины */
.p { padding: 4pt }
.pa4 {padding: 4pt}
.m { margin: 4pt }
.m-lt { margin: 4pt 0pt 0pt 4pt }
.m-rb { margin: 0pt 4pt 4pt 0pt }
.ico {margin: 4pt}
.mr {margin-right: 4pt}
.ml {margin-left: 4pt}
.mt {margin-top: 4pt}
.mb {margin-bottom: 4pt}

/* линии на границе */
.hr { border: solid 1px #E7E7E7 }
.hr-h { border-left: solid 1px #E7E7E7; border-right: solid 1px #E7E7E7 }
.hr-v { border-top: solid 1px #E7E7E7; border-bottom: solid 1px #E7E7E7 }
.hr-l { border-left: solid 1px #E7E7E7 }
.hr-r { border-right: solid 1px #E7E7E7 }
.hr-b { border-bottom: solid 1px #E7E7E7 }
.hr-t { border-top: solid 1px #E7E7E7 }


/* центрирование */
.l { text-align: left }
.r { text-align: right }
.j { text-align: justify }
.c { text-align: center; *zoom: 1; text-align: -o-center; text-align: -moz-center; text-align: -webkit-center; text-align: -khtml-center }

.mid { margin: 0 auto; display: block; vertical-align: middle; }

/* разное */
.fl {float:left}
.fr {float:right}
.cp {cursor: pointer}

/* округление наполовину */
.rnd { border-radius: 1em; padding: 0 1em 0 1em }

/* округление */
.round { -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em; }
.round4 { -moz-border-radius: 4pt; -webkit-border-radius: 4pt; border-radius: 4pt; }
.round5 { -moz-border-radius: 5pt; -webkit-border-radius: 5pt; border-radius: 5pt; }

/* цвета */

/* тултип */
.c-tip { background-color: #2a2a2a; background-color: rgba(0, 0, 0, 0.7); color: WhiteSmoke; /*border: solid 1px gray;*/ padding: 5px; border-radius: 3px; font-size: 12px; width: 200px; max-height: 200px; }
.c-tip h1, .c-tip h2, .c-tip h3, .c-tip h4 { color: LightSkyBlue; }


/* 
	иконки: http://www.aha-soft.com/free-icons/index.htm
	http://habrahabr.ru/post/136622/
	http://habrahabr.ru/post/136588/
	http://toster.ru/q/123153 - что должен знать js-программист в 2014 году
	http://purecss.io/ и http://jeet.gs/ - фреймворки css
*/


/* футер */
.orange_gradient {
color: Ivory;
font-weight: 900;

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYmYwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iI2ZlYmYwMSIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlYmYwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(254,191,1,1) 0%, rgba(254,191,1,0.6) 46%, rgba(254,191,1,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,191,1,1)), color-stop(46%,rgba(254,191,1,0.6)), color-stop(100%,rgba(254,191,1,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,191,1,1) 0%,rgba(254,191,1,0.6) 46%,rgba(254,191,1,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,191,1,1) 0%,rgba(254,191,1,0.6) 46%,rgba(254,191,1,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,191,1,1) 0%,rgba(254,191,1,0.6) 46%,rgba(254,191,1,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,191,1,1) 0%,rgba(254,191,1,0.6) 46%,rgba(254,191,1,1) 100%); /* W3C */
filter: none;
*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=0 ); /* IE6-8 */
}

.orange_gradient a {
font-weight: normal;
}

.round_bottom {
-moz-border-radius: 0 0 1em 1em;
-webkit-border-radius: 0 0 1em 1em;
border-radius: 0 0 1em 1em;
}
