.1386009216_Warning { background-position: -0px -0px; width: 128px; height: 128px }
.blank_4610 { background-position: -128px -0px; width: 128px; height: 128px }
.blank_9737 { background-position: -0px -128px; width: 128px; height: 128px }
.blank-catalog_7105 { background-position: -128px -128px; width: 128px; height: 128px }
.blank-map_6743 { background-position: -0px -256px; width: 128px; height: 128px }
.coffecup_4689 { background-position: -128px -256px; width: 128px; height: 128px }
.contacts_2643 { background-position: -0px -384px; width: 128px; height: 128px }
.default-icon_4180 { background-position: -128px -384px; width: 128px; height: 128px }
.edit_3573 { background-position: -0px -512px; width: 128px; height: 128px }
.edit_1331 { background-position: -128px -512px; width: 64px; height: 64px }
.edit_6235 { background-position: -192px -512px; width: 32px; height: 32px }

.1386009216_Warning, .blank_4610, .blank_9737, .blank-catalog_7105, .blank-map_6743, .coffecup_4689, .contacts_2643, .default-icon_4180, .edit_3573, .edit_1331, .edit_6235 { background: url("/img/sprite/sp1.png") no-repeat; display: -moz-inline-stack; display: inline-block; *zoom: 1; *display: inline; }

