.file_blank_9706 { background-position: -0px -0px; width: 128px; height: 128px }
.info_7751 { background-position: -128px -0px; width: 128px; height: 128px }
.login-key_8663 { background-position: -256px -0px; width: 128px; height: 128px }
.lovely-catalog_1814 { background-position: -0px -128px; width: 128px; height: 128px }
.musicfile_9151 { background-position: -128px -128px; width: 128px; height: 128px }
.note_3011 { background-position: -256px -128px; width: 128px; height: 128px }
.note_9017 { background-position: -0px -256px; width: 128px; height: 128px }
.notepad_6483 { background-position: -128px -256px; width: 128px; height: 128px }
.register_8249 { background-position: -256px -256px; width: 128px; height: 128px }
.unknown_4127 { background-position: -0px -384px; width: 128px; height: 128px }
.writenote_3070 { background-position: -128px -384px; width: 128px; height: 128px }

.file_blank_9706, .info_7751, .login-key_8663, .lovely-catalog_1814, .musicfile_9151, .note_3011, .note_9017, .notepad_6483, .register_8249, .unknown_4127, .writenote_3070 { background: url("/img/sprite/sp2.png") no-repeat; display: -moz-inline-stack; display: inline-block; *zoom: 1; *display: inline; }

