.flag {
width: 16px;
height: 11px;
font-size: 7px;
background:url(flags.png) no-repeat;
display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline;
}

.flag.flag-ad, .flag.Андорра {background-position: -16px 0}
.flag.flag-ae, .flag.ОАЭ {background-position: -32px 0}
.flag.flag-af, .flag.Афганистан {background-position: -48px 0}
.flag.flag-ag, .flag.Антигуа_и_Барбуда {background-position: -64px 0}
.flag.flag-ai, .flag.Ангилья {background-position: -80px 0}
.flag.flag-al, .flag.Албания {background-position: -96px 0}
.flag.flag-am, .flag.Армения {background-position: -112px 0}
.flag.flag-an, .flag.Нидерландские_Антилы {background-position: -128px 0}
.flag.flag-ao, .flag.Ангола {background-position: -144px 0}
.flag.flag-ar, .flag.Аргентина {background-position: -160px 0}
.flag.flag-as, .flag.Американское_Самоа {background-position: -176px 0}
.flag.flag-at, .flag.Австрия {background-position: -192px 0}
.flag.flag-au, .flag.Австралия {background-position: -208px 0}
.flag.flag-aw, .flag.Аруба {background-position: -224px 0}
.flag.flag-az, .flag.Азербайджан {background-position: -240px 0}
.flag.flag-ba, .flag.Босния_и_Герцеговина {background-position: 0 -11px}
.flag.flag-bb, .flag.Барбадос {background-position: -16px -11px}
.flag.flag-bd, .flag.Бангладеш {background-position: -32px -11px}
.flag.flag-be, .flag.Бельгия {background-position: -48px -11px}
.flag.flag-bf, .flag.Буркина-Фасо {background-position: -64px -11px}
.flag.flag-bg, .flag.Болгария {background-position: -80px -11px}
.flag.flag-bh, .flag.Бахрейн {background-position: -96px -11px}
.flag.flag-bi, .flag.Бурунди {background-position: -112px -11px}
.flag.flag-bj, .flag.Бенин {background-position: -128px -11px}
.flag.flag-bm, .flag.Бермуды {background-position: -144px -11px}
.flag.flag-bn, .flag.Бруней-Даруссалам {background-position: -160px -11px}
.flag.flag-bo, .flag.Боливия {background-position: -176px -11px}
.flag.flag-br, .flag.Бразилия {background-position: -192px -11px}
.flag.flag-bs, .flag.Багамы {background-position: -208px -11px}
.flag.flag-bt, .flag.Бутан {background-position: -224px -11px}
.flag.flag-bv, .flag.Остров_Буве {background-position: -240px -11px}
.flag.flag-bw, .flag.Ботсвана {background-position: 0 -22px}
.flag.flag-by, .flag.Беларусь {background-position: -16px -22px}
.flag.flag-bz, .flag.Белиз {background-position: -32px -22px}
.flag.flag-ca, .flag.Канада {background-position: -48px -22px}
.flag.flag-catalonia, .flag.Каталония {background-position: -64px -22px}
.flag.flag-cd, .flag.Конго_Демократическая_Республика {background-position: -80px -22px}
.flag.flag-cf, .flag.Центрально-Африканская_Республика {background-position: -96px -22px}
.flag.flag-cg, .flag.Конго {background-position: -112px -22px}
.flag.flag-ch, .flag.Швейцария {background-position: -128px -22px}
.flag.flag-ci, .flag.Кот_д-Ивуар {background-position: -144px -22px}
.flag.flag-ck, .flag.Острова_Кука {background-position: -160px -22px}
.flag.flag-cl, .flag.Чили {background-position: -176px -22px}
.flag.flag-cm, .flag.Камерун {background-position: -192px -22px}
.flag.flag-cn, .flag.Китай {background-position: -208px -22px}
.flag.flag-co, .flag.Колумбия {background-position: -224px -22px}
.flag.flag-cr, .flag.Коста-Рика {background-position: -240px -22px}
.flag.flag-cu, .flag.Куба {background-position: 0 -33px}
.flag.flag-cv, .flag.Кабо-Верде {background-position: -16px -33px}
.flag.flag-cw, .flag.Кюрасао {background-position: -32px -33px}
.flag.flag-cy, .flag.Кипр {background-position: -48px -33px}
.flag.flag-cz, .flag.Чехия {background-position: -64px -33px}
.flag.flag-de, .flag.Германия {background-position: -80px -33px}
.flag.flag-dj, .flag.Джибути {background-position: -96px -33px}
.flag.flag-dk, .flag.Дания {background-position: -112px -33px}
.flag.flag-dm, .flag.Доминика {background-position: -128px -33px}
.flag.flag-do, .flag.Доминикана {background-position: -144px -33px}
.flag.flag-dz, .flag.Алжир {background-position: -160px -33px}
.flag.flag-ec, .flag.Эквадор {background-position: -176px -33px}
.flag.flag-ee, .flag.Эстония {background-position: -192px -33px}
.flag.flag-eg, .flag.Египет {background-position: -208px -33px}
.flag.flag-eh, .flag.Западная_Сахара {background-position: -224px -33px}
.flag.flag-england, .flag.Англия {background-position: -240px -33px}
.flag.flag-er, .flag.Эритрея {background-position: 0 -44px}
.flag.flag-es, .flag.Испания {background-position: -16px -44px}
.flag.flag-et, .flag.Эфиопия {background-position: -32px -44px}
.flag.flag-eu, .flag.Евросоюз {background-position: -48px -44px}
.flag.flag-fi, .flag.Финляндия {background-position: -64px -44px}
.flag.flag-fj, .flag.Фиджи {background-position: -80px -44px}
.flag.flag-fk, .flag.Фолклендские_острова {background-position: -96px -44px}
.flag.flag-fm, .flag.Микронезия {background-position: -112px -44px}
.flag.flag-fo, .flag.Фарерские_острова {background-position: -128px -44px}
.flag.flag-fr, .flag.Франция {background-position: -144px -44px}
.flag.flag-ga, .flag.Габон {background-position: -160px -44px}
.flag.flag-gb, .flag.Великобритания {background-position: -176px -44px}
.flag.flag-gd, .flag.Гренада {background-position: -192px -44px}
.flag.flag-ge, .flag.Грузия {background-position: -208px -44px}
.flag.flag-gf, .flag.Французская_Гвиана {background-position: -224px -44px}
.flag.flag-gg, .flag.Гернси {background-position: -240px -44px}
.flag.flag-gh, .flag.Гана {background-position: 0 -55px}
.flag.flag-gi, .flag.Гибралтар {background-position: -16px -55px}
.flag.flag-gl, .flag.Гренландия {background-position: -32px -55px}
.flag.flag-gm, .flag.Гамбия {background-position: -48px -55px}
.flag.flag-gn, .flag.Гвинея {background-position: -64px -55px}
.flag.flag-gp, .flag.Гваделупа {background-position: -80px -55px}
.flag.flag-gq, .flag.Экваториальная_Гвинея {background-position: -96px -55px}
.flag.flag-gr, .flag.Греция {background-position: -112px -55px}
.flag.flag-gs, .flag.Южная_Джорджия_и_Южные_Сандвичевы_острова {background-position: -128px -55px}
.flag.flag-gt, .flag.Гватемала {background-position: -144px -55px}
.flag.flag-gu, .flag.Гуам {background-position: -160px -55px}
.flag.flag-gw, .flag.Гвинея-Бисау {background-position: -176px -55px}
.flag.flag-gy, .flag.Гайана {background-position: -192px -55px}
.flag.flag-hk, .flag.Гонконг {background-position: -208px -55px}
.flag.flag-hm, .flag.Остров_Херд_и_острова_Макдональд {background-position: -224px -55px}
.flag.flag-hn, .flag.Гондурас {background-position: -240px -55px}
.flag.flag-hr, .flag.Хорватия {background-position: 0 -66px}
.flag.flag-ht, .flag.Гаити {background-position: -16px -66px}
.flag.flag-hu, .flag.Венгрия {background-position: -32px -66px}
.flag.flag-ic, .flag.Канары {background-position: -48px -66px}
.flag.flag-id, .flag.Индонезия {background-position: -64px -66px}
.flag.flag-ie, .flag.Ирландия {background-position: -80px -66px}
.flag.flag-il, .flag.Израиль {background-position: -96px -66px}
.flag.flag-im, .flag.Мэн {background-position: -112px -66px}
.flag.flag-in, .flag.Индия {background-position: -128px -66px}
.flag.flag-io, .flag.Британская_территория_в_Индийском_океане {background-position: -144px -66px}
.flag.flag-iq, .flag.Ирак {background-position: -160px -66px}
.flag.flag-ir, .flag.Иран {background-position: -176px -66px}
.flag.flag-is, .flag.Исландия {background-position: -192px -66px}
.flag.flag-it, .flag.Италия {background-position: -208px -66px}
.flag.flag-je, .flag.Джерси {background-position: -224px -66px}
.flag.flag-jm, .flag.Ямайка {background-position: -240px -66px}
.flag.flag-jo, .flag.Иордания {background-position: 0 -77px}
.flag.flag-jp, .flag.Япония {background-position: -16px -77px}
.flag.flag-ke, .flag.Кения {background-position: -32px -77px}
.flag.flag-kg, .flag.Киргизия {background-position: -48px -77px}
.flag.flag-kh, .flag.Камбоджа {background-position: -64px -77px}
.flag.flag-ki, .flag.Кирибати {background-position: -80px -77px}
.flag.flag-km, .flag.Коморы {background-position: -96px -77px}
.flag.flag-kn, .flag.Сент-Китс_и_Невис {background-position: -112px -77px}
.flag.flag-kp, .flag.КНДР {background-position: -128px -77px}
.flag.flag-kr, .flag.Корея {background-position: -144px -77px}
.flag.flag-kurdistan, .flag.Курдистан {background-position: -160px -77px}
.flag.flag-kw, .flag.Кувейт {background-position: -176px -77px}
.flag.flag-ky, .flag.Каймановы_острова {background-position: -192px -77px}
.flag.flag-kz, .flag.Казахстан {background-position: -208px -77px}
.flag.flag-la, .flag.Лаос {background-position: -224px -77px}
.flag.flag-lb, .flag.Ливан {background-position: -240px -77px}
.flag.flag-lc, .flag.Сент-Люсия {background-position: 0 -88px}
.flag.flag-li, .flag.Лихтенштейн {background-position: -16px -88px}
.flag.flag-lk, .flag.Шри-Ланка {background-position: -32px -88px}
.flag.flag-lr, .flag.Либерия {background-position: -48px -88px}
.flag.flag-ls, .flag.Лесото {background-position: -64px -88px}
.flag.flag-lt, .flag.Литва {background-position: -80px -88px}
.flag.flag-lu, .flag.Люксембург {background-position: -96px -88px}
.flag.flag-lv, .flag.Латвия {background-position: -112px -88px}
.flag.flag-ly, .flag.Ливия {background-position: -128px -88px}
.flag.flag-ma, .flag.Марокко {background-position: -144px -88px}
.flag.flag-mc, .flag.Монако {background-position: -160px -88px}
.flag.flag-md, .flag.Молдова {background-position: -176px -88px}
.flag.flag-me, .flag.Черногория {background-position: -192px -88px}
.flag.flag-mg, .flag.Мадагаскар {background-position: -208px -88px}
.flag.flag-mh, .flag.Маршалловы_острова {background-position: -224px -88px}
.flag.flag-mk, .flag.Македония {background-position: -240px -88px}
.flag.flag-ml, .flag.Мали {background-position: 0 -99px}
.flag.flag-mm, .flag.Мьянма {background-position: -16px -99px}
.flag.flag-mn, .flag.Монголия {background-position: -32px -99px}
.flag.flag-mo, .flag.Макао {background-position: -48px -99px}
.flag.flag-mp, .flag.Северные_Марианские_острова {background-position: -64px -99px}
.flag.flag-mq, .flag.Мартиника {background-position: -80px -99px}
.flag.flag-mr, .flag.Мавритания {background-position: -96px -99px}
.flag.flag-ms, .flag.Монтсеррат {background-position: -112px -99px}
.flag.flag-mt, .flag.Мальта {background-position: -128px -99px}
.flag.flag-mu, .flag.Маврикий {background-position: -144px -99px}
.flag.flag-mv, .flag.Мальдивы {background-position: -160px -99px}
.flag.flag-mw, .flag.Малави {background-position: -176px -99px}
.flag.flag-mx, .flag.Мексика {background-position: -192px -99px}
.flag.flag-my, .flag.Малайзия {background-position: -208px -99px}
.flag.flag-mz, .flag.Мозамбик {background-position: -224px -99px}
.flag.flag-na, .flag.Намибия {background-position: -240px -99px}
.flag.flag-nc, .flag.Новая_Каледония {background-position: 0 -110px}
.flag.flag-ne, .flag.Нигер {background-position: -16px -110px}
.flag.flag-nf, .flag.Остров_Норфолк {background-position: -32px -110px}
.flag.flag-ng, .flag.Нигерия {background-position: -48px -110px}
.flag.flag-ni, .flag.Никарагуа {background-position: -64px -110px}
.flag.flag-nl, .flag.Нидерланды {background-position: -80px -110px}
.flag.flag-no, .flag.Норвегия {background-position: -96px -110px}
.flag.flag-np, .flag.Непал {background-position: -112px -110px}
.flag.flag-nr, .flag.Науру {background-position: -128px -110px}
.flag.flag-nu, .flag.Ниуэ {background-position: -144px -110px}
.flag.flag-nz, .flag.Новая_Зеландия {background-position: -160px -110px}
.flag.flag-om, .flag.Оман {background-position: -176px -110px}
.flag.flag-pa, .flag.Панама {background-position: -192px -110px}
.flag.flag-pe, .flag.Перу {background-position: -208px -110px}
.flag.flag-pf, .flag.Французская_Полинезия {background-position: -224px -110px}
.flag.flag-pg, .flag.Папуа-Новая_Гвинея {background-position: -240px -110px}
.flag.flag-ph, .flag.Филиппины {background-position: 0 -121px}
.flag.flag-pk, .flag.Пакистан {background-position: -16px -121px}
.flag.flag-pl, .flag.Польша {background-position: -32px -121px}
.flag.flag-pm, .flag.Сент-Пьер_и_Микелон {background-position: -48px -121px}
.flag.flag-pn, .flag.Питкерн {background-position: -64px -121px}
.flag.flag-pr, .flag.Пуэрто-Рико {background-position: -80px -121px}
.flag.flag-ps, .flag.Палестина {background-position: -96px -121px}
.flag.flag-pt, .flag.Португалия {background-position: -112px -121px}
.flag.flag-pw, .flag.Палау {background-position: -128px -121px}
.flag.flag-py, .flag.Парагвай {background-position: -144px -121px}
.flag.flag-qa, .flag.Катар {background-position: -160px -121px}
.flag.flag-re, .flag.Реюньон {background-position: -176px -121px}
.flag.flag-ro, .flag.Румыния {background-position: -192px -121px}
.flag.flag-rs, .flag.Сербия {background-position: -208px -121px}
.flag.flag-ru, .flag.Россия {background-position: -224px -121px}
.flag.flag-rw, .flag.Руанда {background-position: -240px -121px}
.flag.flag-sa, .flag.Саудовская_Аравия {background-position: 0 -132px}
.flag.flag-sb, .flag.Соломоновы_острова {background-position: -16px -132px}
.flag.flag-sc, .flag.Сейшелы {background-position: -32px -132px}
.flag.flag-scotland, .flag.Шотландия {background-position: -48px -132px}
.flag.flag-sd, .flag.Судан {background-position: -64px -132px}
.flag.flag-se, .flag.Швеция {background-position: -80px -132px}
.flag.flag-sg, .flag.Сингапур {background-position: -96px -132px}
.flag.flag-sh, .flag.Святая_Елена {background-position: -112px -132px}
.flag.flag-si, .flag.Словения {background-position: -128px -132px}
.flag.flag-sk, .flag.Словакия {background-position: -144px -132px}
.flag.flag-sl, .flag.Сьерра-Леоне {background-position: -160px -132px}
.flag.flag-sm, .flag.Сан-Марино {background-position: -176px -132px}
.flag.flag-sn, .flag.Сенегал {background-position: -192px -132px}
.flag.flag-so, .flag.Сомали {background-position: -208px -132px}
.flag.flag-somaliland, .flag.Сомалиланд {background-position: -224px -132px}
.flag.flag-sr, .flag.Суринам {background-position: -240px -132px}
.flag.flag-ss, .flag.Южный_Судан {background-position: 0 -143px}
.flag.flag-st, .flag.Сан-Томе_и_Принсипи {background-position: -16px -143px}
.flag.flag-sv, .flag.Эль-Сальвадор {background-position: -32px -143px}
.flag.flag-sx, .flag.Синт-Мартен {background-position: -48px -143px}
.flag.flag-sy, .flag.Сирия {background-position: -64px -143px}
.flag.flag-sz, .flag.Свазиленд {background-position: -80px -143px}
.flag.flag-tc, .flag.Острова_Теркс_и_Кайкос {background-position: -96px -143px}
.flag.flag-td, .flag.Чад {background-position: -112px -143px}
.flag.flag-tf, .flag.Французские_Южные_территории {background-position: -128px -143px}
.flag.flag-tg, .flag.Того {background-position: -144px -143px}
.flag.flag-th, .flag.Таиланд {background-position: -160px -143px}
.flag.flag-tj, .flag.Таджикистан {background-position: -176px -143px}
.flag.flag-tk, .flag.Токелау {background-position: -192px -143px}
.flag.flag-tl, .flag.Тимор-Лесте {background-position: -208px -143px}
.flag.flag-tm, .flag.Туркмения {background-position: -224px -143px}
.flag.flag-tn, .flag.Тунис {background-position: -240px -143px}
.flag.flag-to, .flag.Тонга {background-position: 0 -154px}
.flag.flag-tr, .flag.Турция {background-position: -16px -154px}
.flag.flag-tt, .flag.Тринидад_и_Тобаго {background-position: -32px -154px}
.flag.flag-tv, .flag.Тувалу {background-position: -48px -154px}
.flag.flag-tw, .flag.Тайвань {background-position: -64px -154px}
.flag.flag-tz, .flag.Танзания {background-position: -80px -154px}
.flag.flag-ua, .flag.Украина {background-position: -96px -154px}
.flag.flag-ug, .flag.Уганда {background-position: -112px -154px}
.flag.flag-um, .flag.Малые_Тихоокеанские_отдаленные_острова_Соединенных_Штатов {background-position: -128px -154px}
.flag.flag-us, .flag.США {background-position: -144px -154px}
.flag.flag-uy, .flag.Уругвай {background-position: -160px -154px}
.flag.flag-uz, .flag.Узбекистан {background-position: -176px -154px}
.flag.flag-va, .flag.Ватикан {background-position: -192px -154px}
.flag.flag-vc, .flag.Сент-Винсент_и_Гренадины {background-position: -208px -154px}
.flag.flag-ve, .flag.Венесуэла {background-position: -224px -154px}
.flag.flag-vg, .flag.Виргинские_острова_Британские {background-position: -240px -154px}
.flag.flag-vi, .flag.Виргинские_острова_США {background-position: 0 -165px}
.flag.flag-vn, .flag.Вьетнам {background-position: -16px -165px}
.flag.flag-vu, .flag.Вануату {background-position: -32px -165px}
.flag.flag-wales, .flag.Уэльс {background-position: -48px -165px}
.flag.flag-wf, .flag.Уоллис_и_Футуна {background-position: -64px -165px}
.flag.flag-ws, .flag.Самоа {background-position: -80px -165px}
.flag.flag-ye, .flag.Йемен {background-position: -96px -165px}
.flag.flag-yt, .flag.Майотта {background-position: -112px -165px}
.flag.flag-za, .flag.Южная_Африка {background-position: -128px -165px}
.flag.flag-zanzibar, .flag.Занзибар {background-position: -144px -165px}
.flag.flag-zm, .flag.Замбия {background-position: -160px -165px}
.flag.flag-zw, .flag.Зимбабве {background-position: -176px -165px}

.flag.Карибские_острова {background-position: -16px -66px} /* Гаити */
.flag.Абхазия {background-position: -192px -165px}